{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email, {'label': 'Email *'}) }}
        {{ form_row(registrationForm.name, {'label': 'Nom *'}) }}
        {{ form_row(registrationForm.address, {'label': 'Adresse'}) }}
        {{ form_row(registrationForm.country, {'label': 'Pays *'}) }}
        {{ form_row(registrationForm.phone, {'label': 'Téléphone *'}) }}
        {{ form_row(registrationForm.zipCode, {'label': 'Code postal *'}) }}
        {{ form_row(registrationForm.town, {'label': 'Ville *'}) }}
        {{ form_row(registrationForm.plainPassword, {'label': 'Mot de passe *'}) }}
        
        <p style="color: red;">* Champs obligatoires</p>
        <button class="btn btn-primary">S'inscrire</button>
    {{ form_end(registrationForm) }}
{% endblock %}
