{# templates/base.html.twig #}
<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>
			{% block title %}Mon Site
			{% endblock %}
		</title>
		<link
		rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"/>
		<!-- Bloc pour CSS spécifique aux pages -->
		{% block styles %}
			<style>
				/* background */
				body {
					background-color: #ffe1a8;
					display: flex;
					flex-direction: column;
					min-height: 100vh;
					margin: 0;
				}
				/* footer */
				footer {
					background-color: #472d30;
					color: white;
					font-size: 1.2rem;
					line-height: 1.6;
					padding: 3rem 0;
					min-height: 30vh;
					display: flex;
					align-items: center;
					width: 100vw;
					position: relative;
					left: 50%;
					right: 50%;
					margin-left: -50vw;
					margin-right: -50vw;
				}
				footer h5 {
					font-size: 1.5rem;
					margin-bottom: 1rem;
				}
			</style>
		{% endblock %}
	</head>

	<body>
		<!-- Navbar -->
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid">
				<a class="navbar-brand text-white fw-bold d-flex align-items-center" href="{{ path('app_home') }}">
					<img src="{{ asset('assets/castor.png') }}" alt="Logo" style="
										                  height: 5em;
										                  width: auto;
										                  margin-right: 0.5rem;"/>
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="{{ path('admin_dashboard') }}">Dashboard admin</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('product_create') }}">
								Ajouter un produit au stock</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('all_products') }}">Voir tous les produits</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('all_users') }}">
								Voir les clients
							</a>
						</li>
						{% if app.user %}
							<li class="nav-item">
								<a class="nav-link text-danger" href="{{ path('app_logout') }}">
									Logout
								</a>
							</li>
						{% else %}
							<li class="nav-item">
								<a class="nav-link text-danger" href="{{ path('app_login') }}">
									Login
								</a>
							</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>

		<!-- Contenu principal -->

		<div class="container mt-4">
			{% for message in app.flashes('success') %}
				<div class="alert alert-success">{{ message }}</div>
			{% endfor %}
			{% block body %}{% endblock %}
		</div>

		<!-- Bootstrap JS -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
	</body>
</html>
