{% extends 'admin/baseAdmin.html.twig' %}
{% block title %}Création d'un produit
{% endblock %}

{% block body %}
	<section class="container">
		<h1>Ajout d'un nouveau produit</h1>
		{{ form_start(formView) }}
		<div>
			{{ form_label(formView.name, 'Nom du produit')}}
			{{ form_widget(formView.name) }}
		</div>
		<div>
			{{ form_label(formView.description, 'Description du produit')}}
			{{ form_widget(formView.description) }}
		</div>
		<div>
			{{ form_label(formView.quantity, 'Quantité en stock')}}
			{{ form_widget(formView.quantity) }}
		</div>
		<div>
			{{ form_label(formView.price, 'Prix du produit')}}
			{{ form_widget(formView.price) }}
		</div>
		<div>
			{{ form_label(formView.image, 'Photo du produit')}}
			{{ form_widget(formView.image) }}
		</div>
		<div>
			{{ form_row(formView.save, { 'label' :'Enregistrer', 'attr' : {'class' : 'btn btn-success'} }) }}
		</div>
		{{ form_end(formView) }}
	</section>

{% endblock %}
