{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Création d'un produit{% endblock %}

{% block body %}
	<div class="wf-container">
		<div class="row wf-section">
			<div class="col-12 col-md-8 offset-md-2">
				<div class="wf-title-bar text-center">
					<h1 class="h3 m-0">Ajout d'un nouveau produit</h1>
				</div>
			</div>
		</div>
		<section class="row wf-section">
			<div class="col-12 col-md-8 offset-md-2">
				<div class="wf-panel">
					{{ form_start(form) }}
					<div class="mb-3">
						{{ form_label(form.name, 'Nom du produit') }}
						{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
					</div>
					<div class="mb-3">
						{{ form_label(form.description, 'Description du produit') }}
						{{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
					</div>
					<div class="mb-3">
						{{ form_label(form.quantity, 'Quantité en stock') }}
						{{ form_widget(form.quantity, {'attr': {'class': 'form-control'}}) }}
					</div>
					<div class="mb-3">
						{{ form_label(form.price, 'Prix du produit') }}
						{{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
					</div>
					<div class="mb-3">
						{{ form_label(form.image, 'Photo du produit') }}
						{{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(form.image) }}
					</div>

					<div class="text-center">
						<button type="submit" class="btn btn-primary" style="width: 100%;">Créer le produit</button>
					</div>
					<span style="visibility: hidden;">{{ form_end(form) }}</span>
				</div>

			</div>
		</div>
	</section>
</div>{% endblock %}
