{% block title %}Liste des produits{% endblock %}

{% block navbar %}
    {% include 'admin/_navbarAdmin.html.twig' %}
{% endblock %}

{% block body %}
<section class="container">
  <h1>Liste des produits disponibles sur le site</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom du produit</th>
        <th>Quantité en stock</th>
        <th>Prix</th>
        <th>Mettre à jour le produit</th>
        <th>Supprimer le produit</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
    <tr>
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.quantity}}</td>
      <td>{{product.price}}</td>
      <td><a href="{{path('update_product', {id:product.id}) }}">Mettre à jour</a></td>
      <td><a href="{{path('delete_product', {id:product.id}) }}">Supprimer</a></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</section>

{% endblock %}